@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


#displayProject {
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
  width: 100%;
  height:100%;
    img {
    padding: 40px;
    position: relative;
    width: 100%;
    height:100%;

  }

  .info {
    position:relative;
    width:100%;
    min-height: 500px;
    padding: 30px;
    background:rgba(33,33,33,0.95) !important;
    color:white;
    p {
      font-size: 20px;
    }
    a {
      font-size: 20px;
      color:white;
    }
  }
}
ul.slider-list[style] {
  height: 100% !important;
  min-height: 60vw;
}
li.slider-slide {
  min-height:150%;
}
@media (min-width:750px) {
  ul.slider-list {
    min-height: 400px;
  }
}
#goBack {
  position: fixed;
  left: 10px;
  top: 60px;
  z-index: 100;
}
// #carouselContainer {
//   min-height: 0;
//   min-width: 0;
// }
//
// @media (max-width: 600px) {
//   #carouselContainer {
//     height: 30vh;
//   }
// }
