
@import 'nav';
@import 'home';
@import 'sideNav';
@import 'portfolio';
@import 'displayProject';
html {
  font-size: 12px;
  overflow-x: hidden;
}

//Footer
.page-footer {
  padding-top: 0 !important;
  background-color: black !important;
}
